/* You can add global styles to this file, and also import other style files */
body{
    background: darkcyan;
    padding: 1em;
    font-family: initial 22px;
    color: ivory;
}

ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 30px;

}

a {
    color: darkgray;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}