.container {
    display: grid;
    grid-template-columns: 50% auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.col {
    padding: .4em 1.3;
}

.color-dark {
    background: rgb(209, 81, 124);
}

.color-light {
    background: rgb(19, 189, 189);
}

input.text {
    border: 0;
    padding: 1em;
    width: 90%;
    margin-bottom: 2em;
}

input.btn {
    border: 0;
    display: block;
    padding: 1em 3em;
    background: plum;
    color: rgb(255, 255, 255);
}

.project-container {
    background: rgb(145, 142, 142);
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
}