<div class="container color-dark">
  <div class="col">
    <p>Add Task</p>
  </div>

  <div class="col">
    <p>My Tasks ({{ itemCounter }})</p>
  </div>
</div>

<div class="container color-light" [@projects]="projects.length">
  <div class="col">
    <h2>Add this task on the list</h2>
    <form>
      <input
        type="text"
        class="text"
        name="projectname"
        placeholder="Project Name"
        [(ngModel)]="projectText"
      />
      <br />
      <input 
        type="submit" 
        class="btn" 
        value="Add Task" 
        (click)="addItem()"
      />
    </form>
  </div>
  <div class="col">
    <p class="project-container" *ngForOf="let item of projects; let i=index" (click)="removeItem(i)">
      {{ item }}
    </p>
  </div>
</div>
